# React Dependencies
Frontend/node_modules/

# React Build Output
Frontend/dist/

# Selenium Chrome Sessions (locks files and contains private logins)
Backend/whatsapp_chrome_session/
Backend/temp_attachments/

# IDE and OS Temp files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
